*{
  margin: 0;
  padding: 0;
}

#barraSuperior{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}

#barraSuperior p img{
  width: 1.1vw;
  margin-inline: 0.5rem;

}

#logo{
  width: 15vw;
  margin-right: 9vw;
  margin-left: 4vw;
}

.info{
  display: flex;
  flex-direction: column;
  padding-inline: 2vw;
  height: 18vh;
  align-items: center;
  justify-content: center;
}
.info p{
  font-size: 0.85rem;
  font-family: 'Poppins';
  margin-bottom: 2vh;
  text-align: left;

}

.info b{
  font-size: 1.1rem;
  font-weight: 600;
  font-family:'Poppins';
  color: #55893d;
  
}

#infob{
  border-inline: 1px solid #0f6683;
}

#navbar {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  font-size: 0.9rem;

  height: 10vh;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 4vw;
  padding-left: 8vw;

  background-color: #714e1e;
}

#navbar a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'Poppins'
}
