*{
  margin: 0;
  padding: 0;
}


:root{
  --main-color: #8a6f35;
  --text-color: #474b48;
  --secundary-color: #45ac5d;
  --light-text: #ffffff;
  --light-text2: #666363;
  --main-bakcground:  #5a5c66;

  --main-font: Optima, sans-serif;
  --secundary-font: Arial;
}

#barraSuperior{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
  background-color: #effffe;
}

#barraSuperior p img{
  width: 1.1vw;
  margin-inline: 0.5rem;

}

#logo{
  width: 15vw;
  margin-right: 3vw;
  margin-left: 8vw;
}

.info{
  display: flex;
  flex-direction: column;
  padding-inline: 2vw;
  height: 18vh;
  align-items: center;
  justify-content: center;
}
.info p{
  font-size: 0.75rem;
  font-family: 'Poppins';
  color: var(--light-text2);
  margin-bottom: 2vh;
  text-align: left;

}

.info b{
  font-size: 1.1rem;
  font-weight: 600;
  font-family:'Poppins';
  color: var(--text-color);
  
}

#infob{
  border-inline: .1px solid var(--light-text2);
}

#navbar {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  font-size: 0.8rem;

  height: 10vh;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 4vw;
  padding-left: 8vw;

  background-color: var(--secundary-color);
}

#navbar a{
  text-decoration: none;
  color: var(--light-text);
  font-family: 'Poppins'
}
